html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
  }
  body{
    background-color: #a7a7a5;
  }
  h1{
    color: red;
    padding: 3vh;
    font-size: 50px;
    font-weight: 800;
  }
  h2{
    font-size: 30px;
  }

  p{
    font-size: 4.5rem;
  }
  
header
{
    background-color:#81817e;
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.hod{
  text-align: center;
  font-size: 20px;
}